<div class="sidebar" data-background-color="white" data-active-color="danger">

<div class="sidebar-wrapper">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
            Capstone App
        </a>
    </div>

    <ul class="nav">

        <li ng-class="{'active': $location.url()=='/home'}">
            <a href=#/home>
                <span
                class="sr-only">(current)
            </span>

            <i class="ti-panel"></i>
            <p>Home</p>
            </a>
        </li>

        <li ng-class="{'active': $location.url()=='/profile'}" ng-show="currentUser">
            <a href="#/profile">
            <i class="ti-user"></i>
            <p>Profile</p>
            </a>
        </li>


    </ul>
</div>
</div>