<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1 class="text-center">Welcome to the Capstone App Prototype</h1></div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><a href="#/login" class="btn btn-block btn-success">Log In</a><a href="#/register" class="btn btn-block btn-info">Sign
                Up</a></div>
        </div>
    </div>
</div>